<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>API Start Page</title>
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <header class="help-page">
            <div class="content-wrapper">
                <div class="float-left">
                    <h1>ESG Classification Web API Help</h1>
                </div>
            </div>
        </header>
        <div id="body" class="help-page">
                <section class="featured">
                    <div class="content-wrapper">
                        <h2>Введение</h2>
                        <div class="help-paragraph">
                            Добро пожаловать в документацию нашего проекта! Мы используем кастомную модель, построенную на основе MPNet, для классификации ESG (экологических, социальных и управленческих) рисков из текстовых данных.

                            В последнее время компании уделяют ESG большое внимание! А вдруг следование принципам ESG линейно влияет на капитализацию компании?!

                            Модель использует среднее пуллинг и кастомную классификационную голову для получения оценок ESG-рисков.

                            Модель ESGify основана на архитектуре MPNet и включает кастомную классификационную голову, адаптированную для классификации ESG-рисков. Модель выдает логиты для нескольких категорий ESG-рисков, которые затем преобразуются в вероятности с помощью сигмоидной функции активации.

                            Ниже представлены ссылки на использование нашей модели.
                        </div>
                    </div>
                </section>
            <hr>
            <section class="content-wrapper main-content clear-fix">
            <section class="featured">
                <div class="content-wrapper">
                    <h2>Документация</h2>
                    <div class="help-paragraph">
                        Вы должны использовать следующий URL для доступа к API:<br>
                        <pre class="wrapped">https://software-engineering.moxcontrol.ru/</pre>
                    </div>
                    <div class="help-paragraph">
                        Интерактивная документация находится по ссылке:<br>
                        <pre class="wrapped"><a href="https://software-engineering.moxcontrol.ru/docs">https://software-engineering.moxcontrol.ru/docs</a></pre>
                    </div>
                    <div class="help-paragraph">
                        Альтернативная документация находится по ссылке:<br>
                        <pre class="wrapped"><a href="https://software-engineering.moxcontrol.ru/redoc">https://software-engineering.moxcontrol.ru/redoc</a></pre>
                    </div>
                </div>
            </section>
            <hr>
            <section class="content-wrapper main-content clear-fix">
    </body>
</html>